name: Build RustDesk Windows x64 (Custom Server)

on:
  push:
    branches: [ main, master ]
    paths:
      - ".github/workflows/**"
      - "**/*.rs"
      - "Cargo.toml"
      - "Cargo.lock"
      - "libs/**"
      - "src/**"
  pull_request:
    branches: [ main, master ]

permissions:
  contents: read

jobs:
  build-windows-x64:
    runs-on: windows-latest

    env:
      # Pegando tudo dos Secrets
      RENDEZVOUS_SERVER: ${{ secrets.RENDEZVOUS_SERVER }}
      RS_PUB_KEY: ${{ secrets.RS_PUB_KEY }}
      RELAY_SERVER: ${{ secrets.RELAY_SERVER }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Set LIBCLANG_PATH
        run: echo "LIBCLANG_PATH=C:\\Program Files\\LLVM\\bin" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Set ENV from secrets
        run: |
          echo "RENDEZVOUS_SERVER=${{ secrets.RENDEZVOUS_SERVER }}" >> $GITHUB_ENV
          echo "RELAY_SERVER=${{ secrets.RELAY_SERVER }}" >> $GITHUB_ENV
          echo "RS_PUB_KEY=${{ secrets.RS_PUB_KEY }}" >> $GITHUB_ENV

      - name: Show LLVM version
        run: clang --version

      - name: Install vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git C:\vcpkg
          C:\vcpkg\bootstrap-vcpkg.bat

      - name: Set VCPKG_ROOT
        run: echo "VCPKG_ROOT=C:\vcpkg" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Install required deps using manifest
        run: |
          cd D:\a\rustdesk\rustdesk\
          C:\vcpkg\vcpkg.exe install --triplet x64-windows
        
      - name: Build (Windows x64, Release)
        run: cargo build --release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: RustDesk-Windows-x64-Custom
          path: target/release/rustdesk.exe
